@metacharset "UTF-8";

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
}
img{
    width: 100vw;
}
a{
    display: inline-block;
    text-decoration: none; 
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    width: 100vw;

}
a:hover{
    background-color: red;
}