@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    

}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    
    background-image: url(../imagens/frame-iphone.png);
}
iframe{
    position: relative;
    left: 22px;
    top: 80px;
    width: 266px;
    height: 470px;
    
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.468);
    box-sizing: border-box;
}
#redes-sociais{
    text-align: center;
}
img:hover{
    border: 2px solid rgba(252, 247, 247, 0.975);
    transform: translate(-3px, -3px);
    box-shadow: 0px 0px 2px 5px rgb(0, 0, 0);
    transition: 0.3s, border 0.8s;

}